* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

body {
    background: aliceblue;
}

h1 {
    text-transform: uppercase;
}

.methods_wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 15px;
}

.header_wrapper {
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.methods__choose_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    padding: 10px;
}

.input__data_wrapper {
    width: 45%;
}

.methods__choose_wrapper button,
a {
    width: 20%;
    min-height: 40px;
    max-height: 70px;

}

a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

button,
a {
    background: #F8E391;
    border: solid 1px #2D2020;
}

button:hover,
a:hover {
    cursor: pointer;
    background: rgb(255, 224, 99);
    box-shadow: 0 14px 28px rgba(255, 224, 99, 0.25), 0 10px 10px rgba(255, 224, 99, 0.22);
}

.method__solution_wrapper {
    display: flex;
    justify-content: center;
    width: 45%;
    overflow: hidden;
    height: auto;
    transition: 2s all ease
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;

}

th {
    background: #BCEBDD;
    color: white;
    text-shadow: 0 1px 1px #2D2020;
    padding: 10px 20px;
}

th,
td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

th:first-child,
td:first-child {
    text-align: left;
}

th:first-child {
    border-top-left-radius: 10px;
}

th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
}

td {
    padding: 10px 20px;
    background: #F8E391;
}

tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}

tr:last-child td:last-child {
    
    border-radius: 0 0 10px 0;
}

tr:last-child td{
    background: #ff753f;
}

tr td:last-child {
    border-right: none;
}

.table__head {
    background: #BCEBDD;
    color: white;
    text-shadow: 0 1px 1px #2D2020;
    padding: 10px 20px;
}

.table__head,
td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

.table__head,
td:first-child {
    text-align: left;
}

.table__head {
    border-top-left-radius: 10px;
}